@model List<BasketViewModel>
@foreach(var item in Model)
{
        <li>
        <div class="single-cart-item d-flex">
            <div class="cart-item-thumb">
                <a href="single-product.html"><img src="@item.FirstImageUrl" alt="product"></a>
                    <span class="product-quantity">@item.Count</span>
            </div>
            <div class="cart-item-content media-body">
                    <h5 class="product-name"><a href="single-product.html">@item.Name</a></h5>
                    <span class="product-price">€@item.Price</span>
                <a href="#" class="product-close"><i class="fal fa-times"></i></a>
            </div>
        </div>
    </li>
}
